@tailwind base;
@tailwind components;
@tailwind utilities;

.select-button-icon {
    background-image: url('/images/icon/drop-down.svg');
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* OTP INPUT */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-phone-number input:focus{
  outline: none !important;
  border:none !important;
  box-shadow: none !important;
}

/* replacing the default date icon with a drop down */
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url('/images/icon/drop-down.svg');
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  /* url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M15.293 6.293a1 1 0 0 1 1.414 1.414l-5 5a1 1 0 0 1-1.414 0l-5-5a1 1 0 0 1 1.414-1.414L10 10.586l5.293-5.293z' clip-rule='evenodd' /%3E%3C/svg%3E"); */


}

input[type="date"]::-webkit-calendar-picker-indicator {
  margin-left: 0.5rem;
}


/* input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */


  .dropdown-button {
    /* background-image: url('/images/icon/drop-down.svg'); 
    
    background-repeat: no-repeat;
    background-position: center; */
    height: 4.2rem;
    border-radius: 50px;
  }
  
  .custom-select {
    background: transparent;
    cursor: pointer;
  }





  /* PAGE SLIDE */

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animateSlideUp {
    animation-name: slide-up;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }

  .shimmer {
    position: relative;
    overflow: hidden;
  }
  
  .shimmer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: translateX(-100%);
    animation: shimmerAnimation 1s infinite;
  }
  
  @keyframes shimmerAnimation {
    100% {
      transform: translateX(100%);
    }
  }
  
  
/* CSS file or inline styles */
.show {
  display: block;
}

.hide {
  display: none;
}

  

  
  
  